.wg-about .avatar {
    width: 150px;
    height: 150px;
}

.home-section {
    padding: 25px 0;
}

li {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.card .card-text ul {
    margin-top: 0rem;
    margin-bottom: 0;
    padding-inline-start: 0px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.col-lg-4 {
    flex: 0 0 28%;
    max-width: 28%;
}

.col-lg-8 {
    flex: 0 0 72%;
    max-width: 72%;
}

.card-link {
    font-size: 0.8rem;
}

.card {
  margin-bottom: 0.3rem;
}
.card .card-text {
  padding: 0.5rem 1rem;
}

h1 {
    font-size: 1.75rem;
}

.card-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


element.style {
    padding-right: 5px;
}
